
@{
    ViewBag.Title = "OpenCategoryMenu";
}

<table>
    <tr></tr>
    @foreach (var category in ViewBag.Сategories)
    {
        <tr>
            <td><p>@category.Name</p></td>
            <td>
                <form action="~/Product/ShowProductsByCategory">
                        <button type="submit">Открыть</button>
                        <input type="hidden" value="@category.Id" name="categoryId" />
                </form>
            </td>
        </tr>
    }
</table>
