
@{
    ViewBag.Title = "ShowInfoAboutProduct";
}

<h2>ShowInfoAboutProduct</h2>
<h4>@ViewBag.Product.Id</h4>
<h4>@ViewBag.Product.Name</h4>
<h4>@ViewBag.Product.Description</h4>
<h4>@ViewBag.Product.Author.Login</h4>
