
@{
    ViewBag.Title = "ShowPurchaseInfo";
}

<h2>Товар успешно куплен!</h2>

<p>Продавец: @ViewBag.Purchase.Seller.Login</p>
<p>Покупатель : @ViewBag.Purchase.Customer.Login</p>
<p>Дата покупки : @ViewBag.Purchase.Date</p>
<p>Будет отправлено на адрес : @ViewBag.Purchase.Address</p>
