
@{
    ViewBag.Title = "ShowPurchaseInfo";
}

<h2>ShowPurchaseInfo</h2>

<p>@ViewBag.Purchase.Seller.Login</p>
<p>@ViewBag.Purchase.Customer.Login</p>
<p>@ViewBag.Purchase.Date</p>
<p>@ViewBag.Purchase.Address</p>
