@using Shop.Web.Models;
@model UserViewModel
@{
    ViewBag.Title = "Личный кабинет";
}
<h2>Личный кабинет</h2>
<table>
    <tr><td>Логин: @Model.Login</td></tr>
    <tr><td>Почта: @Model.Email</td></tr>
    <tr><td>Номер телефона: @Model.PhoneNumber</td></tr>
    <tr><td>Роль: @Model.Role</td></tr>
</table>
<input type="button" onclick="history.back();" value="Назад" />
    <form action="~/Product/AddNewProduct">
        <button type="submit">Добавить товар</button>
    </form>