@model UserListViewModel
@using Shop.Web.Models;
@using Shop.Shared.Entities.Authorize;
@using Shop.Shared.Entities.Enums;
@{
    var currentUser = User as UserPrinciple;
}
<table>
    <tr>
        <td><b>Логин</b></td>
        <td><b>Роль</b></td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td width="150px"><p>@user.Login</p></td>
            <td width="150px"><p>@user.Role</p></td>
            <td>
                <form action="~/User/ShowUser">
                    <div>
                        <button class="btn btn-primary" type="submit">Открыть</button>
                        <input type="hidden" value="@user.Login" name="login" />
                    </div>
                </form>
            </td>
            @if (Request.IsAuthenticated)
            {
                if (currentUser.IsInRole(RoleType.Administrator.ToString()))
                {
                    <td>
                        <form action="~/Admin/EditUser">
                            <div>
                                <button type="submit" class="btn btn-danger">Редактировать*</button>
                                <input type="hidden" value="@user.Id" name="id" />
                            </div>
                        </form>
                    </td>
                }
            }
        </tr>
    }
</table>