
@{
    ViewBag.Title = "Регистрация завершена";
    Shop.Shared.Entities.User user = (Shop.Shared.Entities.User)Session["User"];

}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <h1></h1>
        <table>
            <tr></tr>
            <tr>Вы успешно зарегистрировались и вошли в систему как @ViewBag.User.Login</tr>
        </table>
    </div>
</body>
</html>

