
@{
    ViewBag.Title = "Регистрация завершена";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <h1></h1>
        <table>
            <tr></tr>
            <tr>Вы успешно зарегистрировались и вошли в систему как @ViewBag.User</tr>
        </table>
    </div>
</body>
</html>

