@{

    ViewBag.Title = "Регистрация";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <h3>Форма авторизации пользователя</h3>
        <form action="~/Account/FinishLogin">
            <table>
                <tr>
                    <td><p>Введите логин </p></td>
                    <td><input placeholder="Login" name="Login" /> </td>
                </tr>
                <tr>
                    <td><p>Введите пароль </p></td>
                    <td><input placeholder="Password" name="Password" /> </td>
                <tr>
                @if (ViewBag.Warning != null)
                {
                <p>@ViewBag.Warning</p>
                }
                <td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>