@{
    ViewBag.Title = "ShowAccountInfo";
    Shop.Shared.Entities.User user = (Shop.Shared.Entities.User)Session["User"];
}
<h2>Личный кабинет</h2>
<table>
    <tr><p>Логин: @user.Login</p></tr>
    <tr><p>Почта: @user.Email</p></tr>
    <tr><p>Номер телефона: @user.PhoneNumber</p></tr>
    <tr><p>Роль: @user.Role</p></tr>
</table>

<form action="~/Account/Exit">
    <div>
        <button type="submit">Выйти</button>
    </div>
</form>