@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Message</h2>

<address>
    AglyExpressDev<br />
    Улица Пушкина, дом Кукушкина<br />
    <abbr>Телефон:</abbr>
    +375 29 1725098
</address>
<strong>Вк разработчика:</strong> <a href="https://vk.com/gavkala">Кирилл Шамяков</a>
<address>
    <strong>Помощь:</strong>   <a href="https://www.google.by">ГугАл</a><br />
</address>