@{
    ViewBag.Title = "MainMenu";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AglyExpress</title>
</head>

<body>
    <h1>Добро пожаловать!</h1>
    <p>Вы находитесь на супир-пупир крутом сайте по продаже всякого (колеса, кристаллы, мука), ниже вы можете заметить доступные вам функции. </p>
    <table>
        <tr>Посмотреть полный список товаров <a href="/Product/GetProductList">клик!</a></tr>
    </table>
</body>
</html>
