@using Shop.Web.Models.ProductViewModels;
@model CategoryViewModel
@{
    ViewBag.Title = "Новая категория";
}

<h2>Добавление новой категории товаров</h2>

@using (Html.BeginForm("AddNewCategory", "Admin", FormMethod.Post))
{
    <label for="Name">@Html.DisplayFor(model => model.CategoryName)</label>
    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } });
    @Html.ValidationMessageFor(model => model.CategoryName);<br />

    <button class="btn waves-effect waves-light" type="submit">Добавить</button>
}