@using Shop.Business.Services;
@using Shop.Web.Models;
@model SiteStatViewModel
@{
    ViewBag.Title = "AdminPanel";
}

<h2>Админ-панель</h2>

<table>
    <tr><td width="350px">Количество зарегистрированных пользователей : </td><td><div style="color:blueviolet">@Model.UserCount</div></td></tr>
    <tr><td width="350px">Количество зарегистрированных продуктов : </td><td><div style="color:blueviolet">@Model.ProductCount</div></td></tr>
</table>
<br />
<table>
    <tr>
        <td>
            <form action="~/Admin/AddNewCategory" style="border:none; background-color:darkgray">
                <button type="submit"  style="background-color:darkgray">Добавить новую категорию</button>
            </form>
        </td>
        <td>
            <form action="~/Admin/AddNewState">
                <button type="submit" style="background-color:darkgray">Добавить новое состояние</button>
            </form>
        </td>
    </tr>
</table>

